* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}
*:active,
*:focus {
  outline: none;
}

:root {
  --bgc: #fff;
  --text-color: #000;

  --main-color: #1e90ff;
  --secondary-color: #00cccc;
  --grey: #f2f2f2;

  --nav-bgc: #e2e2e2;
  --nav-color: black;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overflow-x: hidden;
}


a {
  text-decoration: none;
}

.screen-padding {
  padding: 0 10%;
}

/* header section  */
header {
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  margin-bottom: 60px;
  box-shadow: 0 2px 20px rgba(68, 68, 68, 0.1);
}

nav {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.shrink {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.shrink .cv a {
  font-size: 20px;
  background-color: #000;
  color: white;
  padding: 3px 30px;
  font-weight: 400;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: capitalize;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Lemon", serif;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

nav .logo img {
  height: 30px;
  animation: logo-ani 2s 3 linear;
}

nav .logo:hover img {
  animation: logo-ani 2s infinite linear;
}

@keyframes logo-ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav .navbar a {
  margin-left: 1rem;
  /* border: 1px solid black; */
  padding: 5px 2px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

nav .navbar a:before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 5px;
  left: 0;
  border-radius: 28px;
  background-color: #000; /* Set the color of the line */
  transform: scaleX(0); /* Initially hide the line */
  transform-origin: bottom right;
  transition: transform 0.4s ease; /* Add a smooth transition effect */
}
nav .navbar a:hover {
  cursor: url(../imgs/cursor.svg) 1 1, pointer;
}

nav .cv a {
  font-size: 22px;
  background-color: #000;
  color: white;
  padding: 5px 30px;
  font-weight: 500;
  /* letter-spacing: 5px; */
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  position: relative;
  isolation: isolate;
} 

 
nav .cv a:hover {
  cursor: url(../imgs/cursor.svg) 1 1, pointer;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 5px 27px;

  word-spacing: 6px;
}

nav .menu {
  font-size: 30px;
  display: none;
  cursor: pointer;
}
/*##############  Main */
main {
  margin-top: 150px;
}

section,
footer .container {
  max-width: 1240px;
  margin: auto;
  width: 100%;
}

.contact .row {
  max-width: 1240px;
  margin: auto;
  width: 100%;
}
/*### About section*/

.home {
  height: 40vh;
  background-color: #ffffff;
  /* overflow-x: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .content {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

h1 {
  /* text-align: center; */
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.4rem;
}
h1 .outline {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  font-weight: 800;
  font-size: 1.8rem;
}
h2 .outline {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  font-weight: 600;
  font-size: 1.5rem;
}
h1 .bold {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Lemon", serif;
}
.home .typing {
  margin: 30px 0px;
}
#typing-text {
  border-right: 2px solid #333;
  padding-right: 2px;
  animation: typing 1s steps(20) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.home .content p {
  line-height: 1.5rem;
  font-size: 16px;
  color: #4b4a4ac5;
}

.home .image {
  width: 40%;
}
.home .image img {
  height: 100%;
  width: 100%;
}

.social-link {
  max-width: 1240px;
  width: 100%;
}

.social-links i {
  font-size: 25px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 0.5rem;
  color: #000;
  background-color: white;
}
.social-links i:hover {
  font-size: 25px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

/* skkils section  */
.skills {
  margin-top: 60px;
}

.skills h1 {
  font-size: 2rem;
  text-align: center;
}

.skills .row {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  justify-content: space-between;
  gap: 3rem;
}

.skills .row .box {
  height: 170px;
  border: 2px solid black;
  border-radius: 4px;
  /* text-align: center; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.skills .row .box:hover {
  background-color: #000;
  color: white;
}
.skills .row .box:hover i {
  color: white;
}
.skills .row .box i {
  font-size: 40px;
  margin-bottom: 10px;
}
.skills .row h3 {
  text-align: center;
  transition: 0.2s all;
}
.database {
  font-size: 16px;
}

/* project */
.projects-contain {
  margin-top: 60px;
  background-color: #000;
  position: relative;
  z-index: 3;
}

.project {
  background-color: #000;
  color: #fff;
  padding: 60px 0px;
}

.project h1 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Lemon";
}
.project > h1 {
  margin-bottom: 40px;
  text-align: center;
}
.project .bold {
  font-size: 1.8rem;
}
.project ul {
  font-size: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin-left: 40px;
}


.project .row {
  margin-top: 60px;
  display: flex;
  gap: 60px;
}

.project .row > div {
  width: 50%;
}
.project .row .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project .row .contact p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.project .row img {
  border-radius: 25px;
  width: 450px;
  height: 320px;

  object-fit: cover;
}
.project .row .content a {
  display: inline-block;
  font-size: 18px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  position: relative;
  isolation: isolate;
}
.project .row .content a:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 254, 254);
  padding: 5px 10px;
}


.about {
  margin: 60px auto;
  display: flex;
  gap: 40px;
}
.about .image-div {
  display: flex;
  justify-content: center;
  width: 45%;
}
.about .image-div img {
  width: 100%;
}

.about .content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 20px;
}
.about .content p {
  line-height: 1.6rem;
}

.contact h1 {
  font-size: 2rem;
  text-align: center;
}

.contact .row {
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 1rem;
}
.contact .row > div {
  width: 50%;
}

.contact .row form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.contact .row form input {
  padding: 10px 12px;
  font-size: 17px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.contact .row form input:focus {
  transition: 0.2s;
  border: rgb(0, 0, 0) 2px solid;
  outline: none;
}

.contact .row form button {
  display: inline-block;
  width: 200px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
  background-color: #000;
  color: white;
}
.contact .row form button:hover {

  color: #000;
  background-color: white;
}

.contact .row form i {
  font-size: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 0.5rem;
  color: #000;
  background-color: white;
}

.contact .row form i:hover {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

.contact .row .btns {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
}


.contact .row .info {
  padding-left: 2rem;
}
.contact .row .info h2 {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.contact .row .info p {
  line-height: 1.5rem;
}

/*  footer */
footer {
  position: relative;
  z-index: 3;
  margin-top: 40px;
  padding: 20px 0px;
  background-color: black;
  color: white;
}

footer .logo {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Lemon", serif;
}

footer .footer-container {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .copy {
  text-align: right;
}

#tailwind{
  max-width: 50px;
  max-height: 50px;
}
#mysql{
  max-width: 90px;
}
#contact{
  margin-top: 150px;
}